<!DOCTYPE html>
<html class="no-js" lang="en">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample-Posts External-Services - Kaduardo</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">

	<link rel="stylesheet" href="/css/style.css">
	
	<link rel="alternate" type="application/rss+xml" href="/categories/sample-posts-external-services/index.xml" title="Kaduardo">

	<link rel="shortcut icon" href="/favicon.ico">
		
</head>
<body class="body">
	<div class="container container--outer">
		<header class="header">
	<div class="container header__container">
		
	<div class="logo">
		<a class="logo__link" href="/" title="Kaduardo" rel="home">
			<div class="logo__item logo__text">
					<div class="logo__title">Kaduardo</div>
					
				</div>
		</a>
	</div>
		
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">Menu</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item">
			<a class="menu__link" href="/docs/getting-started/">
				
				<span class="menu__text">Getting started</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/customization/">
				
				<span class="menu__text">Customization</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/faq/">
				
				<span class="menu__text">FAQ</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/posts/basic-elements/">
				
				<span class="menu__text">Basic Elements</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/about/">
				
				<span class="menu__text">About</span>
				
			</a>
		</li>
	</ul>
</nav>

	</div>
</header>
		<div class="wrapper flex">
			<div class="primary">
			
<main class="main list" role="main">
	<header class="main__header">
		<h1 class="main__title">Sample-Posts External-Services</h1>
	</header><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2022-12-10-giscus-comments/" rel="bookmark">
			a post with giscus comments
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This post shows how to add GISCUS comments.</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2020-09-28-twitter/" rel="bookmark">
			a post with twitter
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>A sample blog page that demonstrates the inclusion of Tweets/Timelines/etc.</p>
<h1 id="tweet">Tweet</h1>
<p>An example of displaying a tweet:
{% twitter <a href="https://twitter.com/rubygems/status/518821243320287232">https://twitter.com/rubygems/status/518821243320287232</a> %}</p>
<h1 id="timeline">Timeline</h1>
<p>An example of pulling from a timeline:
{% twitter <a href="https://twitter.com/jekyllrb">https://twitter.com/jekyllrb</a> maxwidth=500 limit=3 %}</p>
<h1 id="additional-details">Additional Details</h1>
<p>For more details on using the plugin visit: <a href="https://github.com/rob-murray/jekyll-twitter-plugin">jekyll-twitter-plugin</a></p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2015-10-20-disqus-comments/" rel="bookmark">
			a post with disqus comments
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This post shows how to add DISQUS comments.</p>
	</div>
</article>
</main>


			</div>
			

		</div>
		<footer class="footer">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; 2025 Kaduardo.
			<span class="footer__copyright-credits">Generated with <a href="https://gohugo.io/" rel="nofollow noopener" target="_blank">Hugo</a> and <a href="https://github.com/Vimux/Mainroad/" rel="nofollow noopener" target="_blank">Mainroad</a> theme.</span>
		</div>
	</div>
</footer>
	</div>
<script async defer src="/js/menu.js"></script>
</body>
</html>