<!DOCTYPE html>
<html class="no-js" lang="en">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Formatting Code - Kaduardo</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">

	<link rel="stylesheet" href="/css/style.css">
	
	<link rel="alternate" type="application/rss+xml" href="/tags/formatting-code/index.xml" title="Kaduardo">

	<link rel="shortcut icon" href="/favicon.ico">
		
</head>
<body class="body">
	<div class="container container--outer">
		<header class="header">
	<div class="container header__container">
		
	<div class="logo">
		<a class="logo__link" href="/" title="Kaduardo" rel="home">
			<div class="logo__item logo__text">
					<div class="logo__title">Kaduardo</div>
					
				</div>
		</a>
	</div>
		
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">Menu</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item">
			<a class="menu__link" href="/docs/getting-started/">
				
				<span class="menu__text">Getting started</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/customization/">
				
				<span class="menu__text">Customization</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/faq/">
				
				<span class="menu__text">FAQ</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/posts/basic-elements/">
				
				<span class="menu__text">Basic Elements</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/about/">
				
				<span class="menu__text">About</span>
				
			</a>
		</li>
	</ul>
</nav>

	</div>
</header>
		<div class="wrapper flex">
			<div class="primary">
			
<main class="main list" role="main">
	<header class="main__header">
		<h1 class="main__title">Formatting Code</h1>
	</header><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-05-01-tabs/" rel="bookmark">
			a post with tabs
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is how a post with <a href="https://github.com/Ovski4/jekyll-tabs">tabs</a> looks like. Note that the tabs could be used for different purposes, not only for code.</p>
<h2 id="first-tabs">First tabs</h2>
<p>To add tabs, use the following syntax:</p>
<p>{% raw %}</p>
<pre tabindex="0"><code class="language-liquid" data-lang="liquid">{% tabs group-name %}

{% tab group-name tab-name-1 %}

Content 1

{% endtab %}

{% tab group-name tab-name-2 %}

Content 2

{% endtab %}

{% endtabs %}
</code></pre><p>{% endraw %}</p>
<p>With this you can generate visualizations like:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-04-15-pseudocode/" rel="bookmark">
			a post with pseudo code
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some pseudo code rendered by <a href="https://github.com/SaswatPadhi/pseudocode.js">pseudocode</a>. The example presented here is the same as the one in the <a href="https://saswat.padhi.me/pseudocode.js/">pseudocode.js</a> documentation, with only one simple but important change: everytime you would use <code>$</code>, you should use <code>$$</code> instead. Also, note that the <code>pseudocode</code> key in the front matter is set to <code>true</code> to enable the rendering of pseudo code. As an example, using this code:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```pseudocode
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>% This quicksort algorithm is extracted from Chapter 7, Introduction to Algorithms (3rd edition)
</span></span><span style="display:flex;"><span>\begin{algorithm}
</span></span><span style="display:flex;"><span>\caption{Quicksort}
</span></span><span style="display:flex;"><span>\begin{algorithmic}
</span></span><span style="display:flex;"><span>\PROCEDURE{Quicksort}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>    \IF{$$p &lt; r$$}
</span></span><span style="display:flex;"><span>        \STATE $$q = $$ \CALL{Partition}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>        \STATE \CALL{Quicksort}{$$A, p, q - 1$$}
</span></span><span style="display:flex;"><span>        \STATE \CALL{Quicksort}{$$A, q + 1, r$$}
</span></span><span style="display:flex;"><span>    \ENDIF
</span></span><span style="display:flex;"><span>\ENDPROCEDURE
</span></span><span style="display:flex;"><span>\PROCEDURE{Partition}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>    \STATE $$x = A[r]$$
</span></span><span style="display:flex;"><span>    \STATE $$i = p - 1$$
</span></span><span style="display:flex;"><span>    \FOR{$$j = p$$ \TO $$r - 1$$}
</span></span><span style="display:flex;"><span>        \IF{$$A[j] &lt; x$$}
</span></span><span style="display:flex;"><span>            \STATE $$i = i + 1$$
</span></span><span style="display:flex;"><span>            \STATE exchange
</span></span><span style="display:flex;"><span>            $$A[i]$$ with $$A[j]$$
</span></span><span style="display:flex;"><span>        \ENDIF
</span></span><span style="display:flex;"><span>        \STATE exchange $$A[i]$$ with $$A[r]$$
</span></span><span style="display:flex;"><span>    \ENDFOR
</span></span><span style="display:flex;"><span>\ENDPROCEDURE
</span></span><span style="display:flex;"><span>\end{algorithmic}
</span></span><span style="display:flex;"><span>\end{algorithm}
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Generates:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-27-code-diff/" rel="bookmark">
			a post with code diff
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>You can display diff code by using the regular markdown syntax:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```diff
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>diff --git a/sample.js b/sample.js
</span></span><span style="display:flex;"><span>index 0000001..0ddf2ba
</span></span><span style="display:flex;"><span><span style="color:#f92672">--- a/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+++ b/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#75715e">@@ -1 +1 @@
</span></span></span><span style="display:flex;"><span><span style="color:#75715e"></span><span style="color:#f92672">-console.log(&#34;Hello World!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+console.log(&#34;Hello from Diff2Html!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-diff" data-lang="diff"><span style="display:flex;"><span>diff --git a/sample.js b/sample.js
</span></span><span style="display:flex;"><span>index 0000001..0ddf2ba
</span></span><span style="display:flex;"><span><span style="color:#f92672">--- a/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+++ b/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#75715e">@@ -1 +1 @@
</span></span></span><span style="display:flex;"><span><span style="color:#75715e"></span><span style="color:#f92672">-console.log(&#34;Hello World!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+console.log(&#34;Hello from Diff2Html!&#34;)
</span></span></span></code></pre></div><p>But this is difficult to read, specially if you have a large diff. You can use <a href="https://diff2html.xyz/">diff2html</a> to display a more readable version of the diff. For this, just use <code>diff2html</code> instead of <code>diff</code> for the code block language:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2015-07-15-code/" rel="bookmark">
			a post with code
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This theme implements a built-in Jekyll feature, the use of Rouge, for syntax highlighting.
It supports more than 100 languages.
This example is in C++.
All you have to do is wrap your code in markdown code tags:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span>```c++
</span></span><span style="display:flex;"><span>code code code
</span></span><span style="display:flex;"><span>```
</span></span></code></pre></div><div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-c++" data-lang="c++"><span style="display:flex;"><span><span style="color:#66d9ef">int</span> <span style="color:#a6e22e">main</span>(<span style="color:#66d9ef">int</span> argc, <span style="color:#66d9ef">char</span> <span style="color:#66d9ef">const</span> <span style="color:#960050;background-color:#1e0010">\</span><span style="color:#f92672">*</span>argv[])
</span></span><span style="display:flex;"><span>{
</span></span><span style="display:flex;"><span>    string myString;
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    cout <span style="color:#f92672">&lt;&lt;</span> <span style="color:#e6db74">&#34;input a string: &#34;</span>;
</span></span><span style="display:flex;"><span>    getline(cin, myString);
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">int</span> length <span style="color:#f92672">=</span> myString.length();
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">char</span> charArray <span style="color:#f92672">=</span> <span style="color:#66d9ef">new</span> <span style="color:#66d9ef">char</span> <span style="color:#f92672">*</span> [length];
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    charArray <span style="color:#f92672">=</span> myString;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">for</span>(<span style="color:#66d9ef">int</span> i <span style="color:#f92672">=</span> <span style="color:#ae81ff">0</span>; i <span style="color:#f92672">&lt;</span> length; <span style="color:#f92672">++</span>i){
</span></span><span style="display:flex;"><span>        cout <span style="color:#f92672">&lt;&lt;</span> charArray[i] <span style="color:#f92672">&lt;&lt;</span> <span style="color:#e6db74">&#34; &#34;</span>;
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">return</span> <span style="color:#ae81ff">0</span>;
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>For displaying code in a list item, you have to be aware of the indentation, as stated in this <a href="https://stackoverflow.com/questions/34987908/embed-a-code-block-in-a-list-item-with-proper-indentation-in-kramdown/38090598#38090598">Stackoverflow answer</a>. You must indent your code by <strong>(3 * bullet_indent_level)</strong> spaces. This is because kramdown (the markdown engine used by Jekyll) indentation for the code block in lists is determined by the column number of the first non-space character after the list item marker. For example:</p>
	</div>
</article>
</main>


			</div>
			

		</div>
		<footer class="footer">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; 2025 Kaduardo.
			<span class="footer__copyright-credits">Generated with <a href="https://gohugo.io/" rel="nofollow noopener" target="_blank">Hugo</a> and <a href="https://github.com/Vimux/Mainroad/" rel="nofollow noopener" target="_blank">Mainroad</a> theme.</span>
		</div>
	</div>
</footer>
	</div>
<script async defer src="/js/menu.js"></script>
</body>
</html>