<!DOCTYPE html>
<html class="no-js" lang="en">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample-Posts - Kaduardo</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">

	<link rel="stylesheet" href="/css/style.css">
	
	<link rel="alternate" type="application/rss+xml" href="/categories/sample-posts/index.xml" title="Kaduardo">

	<link rel="shortcut icon" href="/favicon.ico">
		
</head>
<body class="body">
	<div class="container container--outer">
		<header class="header">
	<div class="container header__container">
		
	<div class="logo">
		<a class="logo__link" href="/" title="Kaduardo" rel="home">
			<div class="logo__item logo__text">
					<div class="logo__title">Kaduardo</div>
					
				</div>
		</a>
	</div>
		
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">Menu</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item">
			<a class="menu__link" href="/docs/getting-started/">
				
				<span class="menu__text">Getting started</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/customization/">
				
				<span class="menu__text">Customization</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/faq/">
				
				<span class="menu__text">FAQ</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/posts/basic-elements/">
				
				<span class="menu__text">Basic Elements</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/about/">
				
				<span class="menu__text">About</span>
				
			</a>
		</li>
	</ul>
</nav>

	</div>
</header>
		<div class="wrapper flex">
			<div class="primary">
			
<main class="main list" role="main">
	<header class="main__header">
		<h1 class="main__title">Sample-Posts</h1>
	</header><article class="list__item post">
	
	<figure class="list__thumbnail thumbnail">
		<a class="thumbnail__link" href="/posts/2024-12-04-photo-gallery/">
		<img class="thumbnail__image" src="/assets/img/9.jpg" alt="a post with image galleries">
		</a>
	</figure>
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-12-04-photo-gallery/" rel="bookmark">
			a post with image galleries
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>The images in this post are all zoomable, arranged into different mini-galleries using different libraries.</p>
<h2 id="lightbox2httpslokeshdhakarcomprojectslightbox2"><a href="https://lokeshdhakar.com/projects/lightbox2/">Lightbox2</a></h2>
<p><!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted -->
<!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted -->
<!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted --></p>
<hr>
<h2 id="photoswipehttpsphotoswipecom"><a href="https://photoswipe.com/">PhotoSwipe</a></h2>
<!-- raw HTML omitted -->
<hr>
<h2 id="spotlight-jshttpsnextapps-degithubiospotlight"><a href="https://nextapps-de.github.io/spotlight/">Spotlight JS</a></h2>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<hr>
<h2 id="venoboxhttpsvenoesvenobox"><a href="https://veno.es/venobox/">Venobox</a></h2>
<p><!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted -->
<!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted -->
<!-- raw HTML omitted --><!-- raw HTML omitted --><!-- raw HTML omitted --></p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-05-01-tabs/" rel="bookmark">
			a post with tabs
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is how a post with <a href="https://github.com/Ovski4/jekyll-tabs">tabs</a> looks like. Note that the tabs could be used for different purposes, not only for code.</p>
<h2 id="first-tabs">First tabs</h2>
<p>To add tabs, use the following syntax:</p>
<p>{% raw %}</p>
<pre tabindex="0"><code class="language-liquid" data-lang="liquid">{% tabs group-name %}

{% tab group-name tab-name-1 %}

Content 1

{% endtab %}

{% tab group-name tab-name-2 %}

Content 2

{% endtab %}

{% endtabs %}
</code></pre><p>{% endraw %}</p>
<p>With this you can generate visualizations like:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-04-29-typograms/" rel="bookmark">
			a post with typograms
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some <a href="https://github.com/google/typograms/">typograms</a> code.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```typograms
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>+----+
</span></span><span style="display:flex;"><span>|    |---&gt; My first diagram!
</span></span><span style="display:flex;"><span>+----+
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
<pre tabindex="0"><code class="language-typograms" data-lang="typograms">+----+
|    |---&gt; My first diagram!
+----+
</code></pre><p>Another example:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```typograms
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>.------------------------.
</span></span><span style="display:flex;"><span>|.----------------------.|
</span></span><span style="display:flex;"><span>||&#34;https://example.com&#34; ||
</span></span><span style="display:flex;"><span>|&#39;----------------------&#39;|
</span></span><span style="display:flex;"><span>| ______________________ |
</span></span><span style="display:flex;"><span>||                      ||
</span></span><span style="display:flex;"><span>||   Welcome!           ||
</span></span><span style="display:flex;"><span>||                      ||
</span></span><span style="display:flex;"><span>||                      ||
</span></span><span style="display:flex;"><span>||  .----------------.  ||
</span></span><span style="display:flex;"><span>||  | username       |  ||
</span></span><span style="display:flex;"><span>||  &#39;----------------&#39;  ||
</span></span><span style="display:flex;"><span>||  .----------------.  ||
</span></span><span style="display:flex;"><span>||  |&#34;*******&#34;       |  ||
</span></span><span style="display:flex;"><span>||  &#39;----------------&#39;  ||
</span></span><span style="display:flex;"><span>||                      ||
</span></span><span style="display:flex;"><span>||  .----------------.  ||
</span></span><span style="display:flex;"><span>||  |   &#34;Sign-up&#34;    |  ||
</span></span><span style="display:flex;"><span>||  &#39;----------------&#39;  ||
</span></span><span style="display:flex;"><span>||                      ||
</span></span><span style="display:flex;"><span>|+----------------------+|
</span></span><span style="display:flex;"><span>.------------------------.
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>which generates:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-04-28-post-citation/" rel="bookmark">
			a post that can be cited
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post that can be cited. The content of the post ends here, while the citation information is automatically provided below. The only thing needed is for you to set the <code>citation</code> key in the front matter to <code>true</code>.</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-04-15-pseudocode/" rel="bookmark">
			a post with pseudo code
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some pseudo code rendered by <a href="https://github.com/SaswatPadhi/pseudocode.js">pseudocode</a>. The example presented here is the same as the one in the <a href="https://saswat.padhi.me/pseudocode.js/">pseudocode.js</a> documentation, with only one simple but important change: everytime you would use <code>$</code>, you should use <code>$$</code> instead. Also, note that the <code>pseudocode</code> key in the front matter is set to <code>true</code> to enable the rendering of pseudo code. As an example, using this code:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```pseudocode
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>% This quicksort algorithm is extracted from Chapter 7, Introduction to Algorithms (3rd edition)
</span></span><span style="display:flex;"><span>\begin{algorithm}
</span></span><span style="display:flex;"><span>\caption{Quicksort}
</span></span><span style="display:flex;"><span>\begin{algorithmic}
</span></span><span style="display:flex;"><span>\PROCEDURE{Quicksort}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>    \IF{$$p &lt; r$$}
</span></span><span style="display:flex;"><span>        \STATE $$q = $$ \CALL{Partition}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>        \STATE \CALL{Quicksort}{$$A, p, q - 1$$}
</span></span><span style="display:flex;"><span>        \STATE \CALL{Quicksort}{$$A, q + 1, r$$}
</span></span><span style="display:flex;"><span>    \ENDIF
</span></span><span style="display:flex;"><span>\ENDPROCEDURE
</span></span><span style="display:flex;"><span>\PROCEDURE{Partition}{$$A, p, r$$}
</span></span><span style="display:flex;"><span>    \STATE $$x = A[r]$$
</span></span><span style="display:flex;"><span>    \STATE $$i = p - 1$$
</span></span><span style="display:flex;"><span>    \FOR{$$j = p$$ \TO $$r - 1$$}
</span></span><span style="display:flex;"><span>        \IF{$$A[j] &lt; x$$}
</span></span><span style="display:flex;"><span>            \STATE $$i = i + 1$$
</span></span><span style="display:flex;"><span>            \STATE exchange
</span></span><span style="display:flex;"><span>            $$A[i]$$ with $$A[j]$$
</span></span><span style="display:flex;"><span>        \ENDIF
</span></span><span style="display:flex;"><span>        \STATE exchange $$A[i]$$ with $$A[r]$$
</span></span><span style="display:flex;"><span>    \ENDFOR
</span></span><span style="display:flex;"><span>\ENDPROCEDURE
</span></span><span style="display:flex;"><span>\end{algorithmic}
</span></span><span style="display:flex;"><span>\end{algorithm}
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Generates:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-27-code-diff/" rel="bookmark">
			a post with code diff
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>You can display diff code by using the regular markdown syntax:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```diff
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>diff --git a/sample.js b/sample.js
</span></span><span style="display:flex;"><span>index 0000001..0ddf2ba
</span></span><span style="display:flex;"><span><span style="color:#f92672">--- a/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+++ b/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#75715e">@@ -1 +1 @@
</span></span></span><span style="display:flex;"><span><span style="color:#75715e"></span><span style="color:#f92672">-console.log(&#34;Hello World!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+console.log(&#34;Hello from Diff2Html!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-diff" data-lang="diff"><span style="display:flex;"><span>diff --git a/sample.js b/sample.js
</span></span><span style="display:flex;"><span>index 0000001..0ddf2ba
</span></span><span style="display:flex;"><span><span style="color:#f92672">--- a/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+++ b/sample.js
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span><span style="color:#75715e">@@ -1 +1 @@
</span></span></span><span style="display:flex;"><span><span style="color:#75715e"></span><span style="color:#f92672">-console.log(&#34;Hello World!&#34;)
</span></span></span><span style="display:flex;"><span><span style="color:#f92672"></span><span style="color:#a6e22e">+console.log(&#34;Hello from Diff2Html!&#34;)
</span></span></span></code></pre></div><p>But this is difficult to read, specially if you have a large diff. You can use <a href="https://diff2html.xyz/">diff2html</a> to display a more readable version of the diff. For this, just use <code>diff2html</code> instead of <code>diff</code> for the code block language:</p>
	</div>
</article><article class="list__item post">
	
	<figure class="list__thumbnail thumbnail">
		<a class="thumbnail__link" href="/posts/2024-01-27-advanced-images/">
		<img class="thumbnail__image" src="/assets/img/9.jpg" alt="a post with advanced image components">
		</a>
	</figure>
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-27-advanced-images/" rel="bookmark">
			a post with advanced image components
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with advanced image components.</p>
<h2 id="image-slider">Image Slider</h2>
<p>This is a simple image slider. It uses the <a href="https://swiperjs.com/">Swiper</a> library. Check the <a href="https://swiperjs.com/demos">examples page</a> for more information of what you can achieve with it.</p>
<!-- raw HTML omitted -->
<h2 id="image-comparison-slider">Image Comparison Slider</h2>
<p>This is a simple image comparison slider. It uses the <a href="https://img-comparison-slider.sneas.io/">img-comparison-slider</a> library. Check the <a href="https://img-comparison-slider.sneas.io/examples.html">examples page</a> for more information of what you can achieve with it.</p>
<!-- raw HTML omitted -->
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-27-vega-lite/" rel="bookmark">
			a post with vega lite
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some <a href="https://vega.github.io/vega-lite/">vega lite</a> code.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```vega_lite
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>{
</span></span><span style="display:flex;"><span>  &#34;$schema&#34;: &#34;https://vega.github.io/schema/vega-lite/v5.json&#34;,
</span></span><span style="display:flex;"><span>  &#34;description&#34;: &#34;A dot plot showing each movie in the database, and the difference from the average movie rating. The display is sorted by year to visualize everything in sequential order. The graph is for all Movies before 2019.&#34;,
</span></span><span style="display:flex;"><span>  &#34;data&#34;: {
</span></span><span style="display:flex;"><span>    &#34;url&#34;: &#34;https://raw.githubusercontent.com/vega/vega/main/docs/data/movies.json&#34;
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  &#34;transform&#34;: [
</span></span><span style="display:flex;"><span>    {&#34;filter&#34;: &#34;datum[&#39;IMDB Rating&#39;] != null&#34;},
</span></span><span style="display:flex;"><span>    {&#34;filter&#34;: {&#34;timeUnit&#34;: &#34;year&#34;, &#34;field&#34;: &#34;Release Date&#34;, &#34;range&#34;: [null, 2019]}},
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>      &#34;joinaggregate&#34;: [{
</span></span><span style="display:flex;"><span>        &#34;op&#34;: &#34;mean&#34;,
</span></span><span style="display:flex;"><span>        &#34;field&#34;: &#34;IMDB Rating&#34;,
</span></span><span style="display:flex;"><span>        &#34;as&#34;: &#34;AverageRating&#34;
</span></span><span style="display:flex;"><span>      }]
</span></span><span style="display:flex;"><span>    },
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>      &#34;calculate&#34;: &#34;datum[&#39;IMDB Rating&#39;] - datum.AverageRating&#34;,
</span></span><span style="display:flex;"><span>      &#34;as&#34;: &#34;RatingDelta&#34;
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  ],
</span></span><span style="display:flex;"><span>  &#34;mark&#34;: &#34;point&#34;,
</span></span><span style="display:flex;"><span>  &#34;encoding&#34;: {
</span></span><span style="display:flex;"><span>    &#34;x&#34;: {
</span></span><span style="display:flex;"><span>      &#34;field&#34;: &#34;Release Date&#34;,
</span></span><span style="display:flex;"><span>      &#34;type&#34;: &#34;temporal&#34;
</span></span><span style="display:flex;"><span>    },
</span></span><span style="display:flex;"><span>    &#34;y&#34;: {
</span></span><span style="display:flex;"><span>      &#34;field&#34;: &#34;RatingDelta&#34;,
</span></span><span style="display:flex;"><span>      &#34;type&#34;: &#34;quantitative&#34;,
</span></span><span style="display:flex;"><span>      &#34;title&#34;: &#34;Rating Delta&#34;
</span></span><span style="display:flex;"><span>    },
</span></span><span style="display:flex;"><span>    &#34;color&#34;: {
</span></span><span style="display:flex;"><span>      &#34;field&#34;: &#34;RatingDelta&#34;,
</span></span><span style="display:flex;"><span>      &#34;type&#34;: &#34;quantitative&#34;,
</span></span><span style="display:flex;"><span>      &#34;scale&#34;: {&#34;domainMid&#34;: 0},
</span></span><span style="display:flex;"><span>      &#34;title&#34;: &#34;Rating Delta&#34;
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  }
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-26-geojson-map/" rel="bookmark">
			a post with geojson
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some <a href="https://geojson.org/">geojson</a> code. The support is provided thanks to <a href="https://leafletjs.com/">Leaflet</a>. To create your own visualization, go to <a href="https://geojson.io/">geojson.io</a>.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```geojson
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>{
</span></span><span style="display:flex;"><span>  &#34;type&#34;: &#34;FeatureCollection&#34;,
</span></span><span style="display:flex;"><span>  &#34;features&#34;: [
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>      &#34;type&#34;: &#34;Feature&#34;,
</span></span><span style="display:flex;"><span>      &#34;properties&#34;: {},
</span></span><span style="display:flex;"><span>      &#34;geometry&#34;: {
</span></span><span style="display:flex;"><span>        &#34;coordinates&#34;: [
</span></span><span style="display:flex;"><span>          [
</span></span><span style="display:flex;"><span>            [
</span></span><span style="display:flex;"><span>              -60.11363029935569,
</span></span><span style="display:flex;"><span>              -2.904625022183211
</span></span><span style="display:flex;"><span>            ],
</span></span><span style="display:flex;"><span>            [
</span></span><span style="display:flex;"><span>              -60.11363029935569,
</span></span><span style="display:flex;"><span>              -3.162613728707967
</span></span><span style="display:flex;"><span>            ],
</span></span><span style="display:flex;"><span>            [
</span></span><span style="display:flex;"><span>              -59.820894493858034,
</span></span><span style="display:flex;"><span>              -3.162613728707967
</span></span><span style="display:flex;"><span>            ],
</span></span><span style="display:flex;"><span>            [
</span></span><span style="display:flex;"><span>              -59.820894493858034,
</span></span><span style="display:flex;"><span>              -2.904625022183211
</span></span><span style="display:flex;"><span>            ],
</span></span><span style="display:flex;"><span>            [
</span></span><span style="display:flex;"><span>              -60.11363029935569,
</span></span><span style="display:flex;"><span>              -2.904625022183211
</span></span><span style="display:flex;"><span>            ]
</span></span><span style="display:flex;"><span>          ]
</span></span><span style="display:flex;"><span>        ],
</span></span><span style="display:flex;"><span>        &#34;type&#34;: &#34;Polygon&#34;
</span></span><span style="display:flex;"><span>      }
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  ]
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
	</div>
</article><article class="list__item post">
	
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="/posts/2024-01-26-echarts/" rel="bookmark">
			a post with echarts
			</a>
		</h2>
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		<p>This is an example post with some <a href="https://echarts.apache.org/">echarts</a> code.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-markdown" data-lang="markdown"><span style="display:flex;"><span><span style="color:#e6db74">```echarts
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74"></span>{
</span></span><span style="display:flex;"><span>  &#34;title&#34;: {
</span></span><span style="display:flex;"><span>    &#34;text&#34;: &#34;ECharts Getting Started Example&#34;
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  &#34;responsive&#34;: true,
</span></span><span style="display:flex;"><span>  &#34;tooltip&#34;: {},
</span></span><span style="display:flex;"><span>  &#34;legend&#34;: {
</span></span><span style="display:flex;"><span>    &#34;top&#34;: &#34;30px&#34;,
</span></span><span style="display:flex;"><span>    &#34;data&#34;: [&#34;sales&#34;]
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  &#34;xAxis&#34;: {
</span></span><span style="display:flex;"><span>    &#34;data&#34;: [&#34;Shirts&#34;, &#34;Cardigans&#34;, &#34;Chiffons&#34;, &#34;Pants&#34;, &#34;Heels&#34;, &#34;Socks&#34;]
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  &#34;yAxis&#34;: {},
</span></span><span style="display:flex;"><span>  &#34;series&#34;: [
</span></span><span style="display:flex;"><span>    {
</span></span><span style="display:flex;"><span>      &#34;name&#34;: &#34;sales&#34;,
</span></span><span style="display:flex;"><span>      &#34;type&#34;: &#34;bar&#34;,
</span></span><span style="display:flex;"><span>      &#34;data&#34;: [5, 20, 36, 10, 10, 20]
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  ]
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span><span style="color:#e6db74">```</span>
</span></span></code></pre></div><p>Which generates:</p>
	</div>
</article>
</main>

<div class="pagination">
	<span class="pagination__item pagination__item--current">1/3</span>
	<a class="pagination__item pagination__item--next btn" href="/categories/sample-posts/page/2/">»</a>
</div>

			</div>
			

		</div>
		<footer class="footer">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; 2025 Kaduardo.
			<span class="footer__copyright-credits">Generated with <a href="https://gohugo.io/" rel="nofollow noopener" target="_blank">Hugo</a> and <a href="https://github.com/Vimux/Mainroad/" rel="nofollow noopener" target="_blank">Mainroad</a> theme.</span>
		</div>
	</div>
</footer>
	</div>
<script async defer src="/js/menu.js"></script>
</body>
</html>